#add for board init.rc for recovery mode
import /init.recovery.common.rc

on init
    setprop sys.usb.config adb
    mkdir /dev/cpuset/system-background
    mkdir /dev/binderfs
    chmod 0666 /dev/binder
    chmod 0666 /dev/hwbinder
    chmod 0666 /dev/vndbinder
    chmod 0755 /dev/binderfs
    mount tracefs tracefs /sys/kernel/tracing
    symlink /vendor/firmware /system/etc/firmware
    setprop persist.sys.usb.config mtp,adb

on boot
    write /sys/class/power_supply/usb/otg_switch 1
    start boot-hal-1-1
    start health-hal-2-1